<div id="content">
  <h1 id="mainTitle" [ngClass] = "{'mainTitleGD': focusGD, 'mainTitleSE': !focusGD}">Hi, I'm Kevin.</h1>
  <mat-grid-list cols="12" rowHeight="fit" style="height: 500px">
    
      <mat-grid-tile colspan="3" style="height: 300px">    
        <div style="margin: 20px 0px 0px 20px;">
          <img src="assets/general-logo-DarkTheme.png">
        </div>
      </mat-grid-tile>
  
      <mat-grid-tile colspan="9">
        <div style="font-family: Roboto; color: #d8d8d9; margin-left: 30px;">
            <p>Bacon ipsum dolor amet pastrami t-bone bacon sirloin spare ribs landjaeger prosciutto pork chop leberkas.
                Jerky turkey salami ham hock. Corned beef pork chop ham hock, picanha brisket short loin pastrami.
                Andouille leberkas landjaeger, cupim fatback ground round pork chop bresaola boudin meatloaf chuck.
                  Sausage rump hamburger picanha sirloin kielbasa corned beef beef ribs porchetta bresaola tail pancetta.
                  Spare ribs swine landjaeger porchetta pork chicken tongue tail. Pork chop tenderloin alcatra shankle,
                rump tri-tip spare ribs drumstick andouille buffalo turkey burgdoggen hamburger ground round.</p>
    
            <p>Bresaola strip steak pork loin meatball cow. 
              Cow sausage tongue t-bone jerky beef. Filet mignon ham chicken kielbasa, 
              boudin ham hock jowl sirloin picanha short ribs pork chop pig. Swine kielbasa filet mignon, 
              sirloin jowl strip steak flank biltong pork belly short ribs doner rump leberkas. Cow leberkas kevin, 
              tri-tip turkey jerky cupim burgdoggen capicola ribeye chicken. Ribeye doner alcatra ball tip pork belly cow, 
              burgdoggen bacon landjaeger biltong frankfurter jerky chuck meatball.</p>
            
            <p>Shoulder meatball cupim pork, t-bone filet mignon kielbasa ground round sausage biltong buffalo
                cow ham hock pork chop. Leberkas bresaola filet mignon, ball tip pork loin spare ribs sausage pig
                ribeye chuck shank ham meatball tenderloin ham hock. Drumstick hamburger porchetta ribeye fatback
                  strip steak short ribs beef ribs tail buffalo tenderloin short loin alcatra ball tip. Leberkas venison
                  ball tip t-bone boudin.</p>
        </div>
      </mat-grid-tile>
  
    </mat-grid-list>
</div>